.holderHome {
    height: 100vh;
    width: 100vw;
    padding-right:0px;
    /* display:flex; */
    /* color: rgb(244, 154, 220);  */
}

.neonHello{
    width:100vw;
}

.loading{
    color: pink;
}

.homeBottom {
    position:static;
    bottom:0
}